*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  border:none;
  outline:none;
  font-family:'Poppins",sans-serif;
}
html{
  font-size:62.5%;
}
body{
  width:100%;
  height:100px;
  background-color:black;
  color:white;
}
header{
  margin-top:20px;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:16px 10%;
  background-color:transparent;
  filter:drop-shadow(10px);
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logo{
  font-size:40px;
  color:blue;
  cursor:pointer;
  transition:0.5s ease;
}
.logo:hover{
  transform:scale(1.2):
}
nav ul{
  list-style:none;
  display:flex;
  gap:20px;
  margin:0;
  padding:0;
}
nav a{
  font-size: 29px;
  color:white;
  margin-left:64px;
  transition: 0.3s ease;
  border-bottom: 4px solid transparent;
}
nav a:hover,
nav a.active{
  color:blue;
  border-bottom: 3px solid blue;
}
  @media(max-width:995px){
    nav{
      position:absolute;
      top:100%;
      right:0;
      width:40%;
      border-left: 3px solid blue
      border-bottom: 3px solid blue
      border-bottom-left-radius:30px;
      padding:16px solid;
      background-color:black;
      border-top:2px solid black;
    }
    nav.active{
    display:block;
  }
    nav a{
      display:block;
      font-size: 30px;
      margin:50px;
    }
    nav a:hover,
    nav a.active{
      padding:15px;
      border-radius:10px;
      border-bottom:10px solid blue;
    }
  }
.home{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:100px;
  background-color:black;
}
.home .home-content h1{
  font-size: 70px;
  font-weight: 700;
  line-height: 1.3;
}
span{
  color:blue;
}

.home-img{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px auto;
  max-width: 400px;
}
.home-img img{
  width:100%;
  height:auto;
  border-radius:50%;
  object-fit: cover;
  box-shadow:
}
